*{
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-size: 4vw;
}
p{
    color: white;
}
body{
    background-color: rgb(31, 50, 45);
    /* margin: 15px; */
}
ul{
    list-style-type: none;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: grey
}


.header{
    background-color: rgba(4, 32, 35, 0.782);
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
.collapsible{
    background-color: rgb(71, 0, 36);
    border-top: 3px;
    border-left: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 8px;
    border-style: outset;
    border-color: rgb(247, 161, 196);
    color: white;
    padding: 5px;
    font-size: large;
    transition-duration: 0.25s;
}
.collapsible:hover{
    background-color: rgb(247, 161, 196);
}
.collapsible:active{
    background-color: rgb(247, 161, 196);
}
.contentFeed{
    padding: 8px;
    display: none;
    overflow: hidden;
}
.contentFeed.active{
    padding: 8px;
    display: block;
}

.folderHeader{
    color:whitesmoke;
    font-size: large;
}

.borderedImage{
    border-width: 3px;
    border-style: groove;
    border-radius: 5px;
    border-color: black;
    margin: 7px;
}


/* two column reponsive layout with menu */


.menu{
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: rgb(41, 41, 41);
    border-color: rgb(18, 18, 18);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.menuButton{
    background-color: rgba(4, 32, 35, 0.782);
    border-radius: 8px;
    color: white;
    padding: 6px;
    font-size: large;
    transition-duration: 0.25s;
    left: 0;
}
.butt-group{
    margin: 0;
    position: relative;
    left:38vw;
}
.menuButton:hover{
    background-color: rgb(247, 161, 196);
}
.menuButton:active{
    background-color: rgb(247, 161, 196);
}
.contentFolder{
    float: left;
    width: 49%;
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(4, 32, 35, 0.782);
    padding-top: 0px;
}
.row{
    margin-top: 7px;
    margin-bottom: 50px;
}
.row:after{
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .contentFolder{
        width: 100%;
    }
}


#timestamp{
    color:whitesmoke;
    font-size: 2vw;
}

