
h1{
    color: white;
    font-size: 4vw;
}
p{
    color: white;
}
body{
    background-color: rgb(31, 50, 45);
    margin: 30px;
    border-width: 10px;
    border-style:inherit;
    border-color: whitesmoke;
    padding: 5px;
}

a:link{
    color: whitesmoke;
}
a:visited{
    color: grey
}

button{
    background-color: rgb(71, 0, 36);
    border-top: 3px;
    border-left: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 8px;
    border-style: outset;
    border-color: rgb(247, 161, 196);
    color: white;
    padding: 5px;
    font-size: large;
    transition-duration: 0.25s;
}
button:hover{
    background-color: rgb(247, 161, 196);
}

.folderHeader{
    color:whitesmoke;
    font-size: large;
}

.borderedImage{
    border-width: 3px;
    border-style: groove;
    border-radius: 5px;
    border-color: black;
    margin: 7px;
}

/* two column reponsive layout */
*{
    box-sizing:content-box ;
}
.contentFolder{
    /* background-image: url("./images/Blank-black-folder.png");
    background-repeat: no-repeat;
    background-size: 500px 100%; */
    float: left;
    width: 45%;
    padding: 4px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: rgba(4, 32, 35, 0.782);
    padding-top: 0px;
    
}
.row:after{
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .contentFolder{
        width: 100%;
    }
}

#timestamp{
    color:whitesmoke;
    font-size: 2vw;
}

